<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.category_name %>
</p>

<%= link_to 'Back', books_path, class: 'btn btn-default' %>
<% if current_user && current_user == @book.creator %>
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default' %>
<% end %>
